html, body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

.container {
    height: 650px;
}

.home {
    background-image: url(../images/home.jpg);
    background-size: contain;
    background-color: #133d55;
    color: white;
    height: 650px;
}

.home-welcome {
    font-family: "Open Sans Light";
    font-size: 25px;
    letter-spacing: 20px;
    margin-left: 365pt;
    padding-top: 100pt;
}

.home-title {
    font-family: 'Great Vibes';
    font-size: 100px;
    text-shadow: 4px 4px 4px rgba(74, 20, 140, 25);
    margin-left: 100pt;
    margin-top: -100pt;
}

.home-button:hover {
    background-color: #ffffff;
    color: #4A148C;
    transition-duration: 0.5s;
}

.home-button:active {
    background-color: #ffffff;
    color: #4A148C;
}

.home-button:focus {
    outline-color: #8E24AA;
}

.home-button {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 12px;
    width: 250pt;
    height: 30pt;
    font-family: 'Open Sans';
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    letter-spacing: 5px;
    margin: -120px 475px;
    padding-top: 15pt;
    padding-bottom: 10pt;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 1s;
}

/* Modal Content/Box */
.modal-content {
    color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    width: 650px; /* Could be more or less, depending on screen size */
}

.modal-header {
    background-color: #4A148C;
    color: #ffffff;
    height: 60px;
    font-family: "Great Vibes";
    font-size: 22px;
    padding-top: 5pt;
    padding-left: 10pt;
    line-height: 1pt;
}

.modal-body {
    background-color: #ffffff;
}

.field:focus {
    outline-color: transparent;
}

.field {
    background-color: #ffffff;
    width: 650px;
    height: 40px;
    padding-left: 10pt;
    padding-right: 20pt;
}

.field-author {
    color: #4A148C;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: normal;
}

.field-subject {
    color: #5e5e5e;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.field-tale {
    color: #5e5e5e;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    height: 150px;
    border: none;
    padding-top: 10px;
}

.modal-footer {
    background-color: #ffffff;
    color: #000000;
}

.submit-button:hover {
    background-image: url(../images/feather-clicked.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.submit-button:active {
    background-image: url(../images/feather-clicked.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.submit-button {
    background-image: url(../images/feather.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4A148C;
    width: 6em;
    height: 6em;
    line-height: inherit;
    border-radius: 100%;
    margin-left: 550px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20pt;
    padding-right: 10pt;
    padding-bottom: 10pt;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

table, th , td  {
    color: #000000;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

/*Animation*/
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}